/* Universal Styling Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* grouping styling start */

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Ubuntu", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}

/* Shared styling start */
h3.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
p.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: auto;
  width: 60%;
}
button.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border: 0;
  margin-bottom: 40px;
}
/* Header Styling Start */

header {
  background-color: rgba(229, 84, 115, 0.1);
  height: 100vh;
}
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-left {
  width: 40%;
}

.banner-right {
  width: 44%;
}

.banner-right img {
  max-width: 100%;
  margin-top: 60px;
  margin-right: 240px;
}
h1.banner-title {
  color: #272727;
  font-size: 42px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 20px;
}

p.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}


/* Flower Section Styling Start */

section.flower {
  padding: 80px 0;
}
.flower-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 24px;
  width: 90%;
}
.flower-item-box {
  width: 350px;
  height: 250px;
  text-align: center;
  margin-top: 80px;
}
.flower-name {
  margin-top: 30px;
}
.flower-item-box a {
  color: black;
}
.item-box-radius {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.item-box-radius-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}

.item-box-radius-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
img.item-box-flower-1 {
  width: 100%;
  padding: 50px 50px 0 50px;
}
img.item-box-flower-2 {
  width: 121%;
  padding: 50px 50px 0 50px;
  margin: 10px -24px 0;
}
img.item-box-flower-3 {
  width: 94%;
  padding: 50px 50px 0 50px;
}

/* Support Section Styling Start */

section.support {
  padding: 80px 0;
}
.support-container {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 50vh;
  margin: auto;
  width: 92%;
}

/* Hot Deal Section Styling Start */

section.hot-deal {
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
}

.hot-deal-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hot-deal-left {
  text-align: center;
}
h1#hot-deal-title {
  font-size: 35px;
}
p#hot-description {
  margin: 20px auto;
}

h1#hot-deal-title span {
  color: #e55473;
}
.hot-deal-right {
  width: 50%;
  margin: 100px 50px 100px 0px;
}

.hot-deal-right img {
  max-width: 100%;
}

/*  Instagram Section Styling Start*/

section.instagram {
  padding: 80px 0;
}
.insta-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 50px;
}

.insta-box {
  width: 250px;
  height: 180px;
}

.insta-box img {
  width: 100%;
}

/* Get Deal Section Styling Start */

section.get-deal {
  padding: 80px 0;
}

.get-deal-container {
  background: url("../asset/Rectangle\ 9.png"), lightgray 50%;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  margin: 0 50px;
}
h3#get-title {
  padding-top: 45px;
  margin-bottom: 10px !important;
}
p#get-descrp {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 30px !important;
}
.input-box {
  text-align: center;
}
input[type="email"] {
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 15px;
  width: 30%;
}
button#subscribe {
  padding: 10px 25px;
  margin-left: 10px;
}

/* Now Available Section Styling Start*/
section.now {
  padding: 80px 0;
}
.now-box-container {
  margin: 40px 0;
}
h3.section-title span {
  color: #e55473;
}
.now-boxs-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.now-boxs-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.now-box {
  width: 200px;
  height: 220px;
  overflow: hidden;
}

.now-box img {
  max-width: 100%;
}



/* Footer Section Styling Start */

footer {
  background: #111010;
  color: #fff;
  text-align: center;
}
.footer-container {
  padding: 100px 0;
}
h2.footer-title {
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
h2.footer-title span{
  color: #E55473;
}
.footer-container {
  padding: 100px 0;
}

p.footer-description {
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: auto;
  width: 70%;
}
p.copyrights {
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin-top: 24px;
}